/***********************General Styles***************************/

body {
 font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/*************************Text Styles*****************************/
h1,h2,h3,h4,h5,h6{
  font-family: "Cormorant Unicase", serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
}

h2 {
   font-weight: 600;
}

h3 {
  font-weight: 500;
}

/*************************Link Styles*****************************/
/*************************Image Styles*****************************/
/*************************Utility Classes*****************************/
.font-light {
    font-weight: 300;
}

.font-bold {
  font-weight: 500;
}
.cormorant-unicase-light {
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-unicase-regular {
  font-family: "Cormorant Unicase", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-unicase-medium {
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-unicase-semibold {
  font-family: "Cormorant Unicase", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-unicase-bold {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
}

.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
